adium-theme-ubuntu==0.3.4
airsimneurips==0.0.14
apipkg==1.5
arandr==0.1.9
asteval==0.9.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
ccsm==0.9.12.3
certifi==2019.6.16
compizconfig-python==0.9.12.3
coverage==3.7.1
cycler==0.10.0
DBUtils==1.1
decorator==4.4.0
duplicity==0.7.6
enum34==1.1.6
execnet==1.7.0
ipython==5.8.0
ipython-genutils==0.2.0
joblib==0.13.2
kiwisolver==1.1.0
lockfile==0.12.2
matplotlib==2.2.4
mock==1.0.1
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
numpy==1.12.1
nupic==1.0.5
nupic.bindings==1.0.6
ordereddict==1.1
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prettytable==0.7.2
prompt-toolkit==1.0.16
psutil==1.0.1
ptyprocess==0.6.0
py==1.4.31
pycapnp==0.6.3
Pygments==2.4.2
pygobject==3.20.0
PyMySQL==0.6.2
pyparsing==2.4.2
pyproj==1.9.3
pytest==3.0.7
pytest-cov==2.5.0
pytest-xdist==1.16.0
python-dateutil==2.1
pytz==2019.2
PyYAML==5.1
scandir==1.10.0
scipy==1.2.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.4
tornado==4.5.3
tqdm==4.35.0
traitlets==4.3.2
trash-cli==0.12.9.14
unittest2==0.5.1
unity-lens-photos==1.0
validictory==0.9.1
wcwidth==0.1.7
